body {
  font-size: 15pt;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  background:linear-gradient(to right, rgba(30, 75, 115, 1), lavender);
}

h1 {
  text-align: center;
  color: midnightblue
}

h2 {
  color: turquoise;
  text-shadow: 3px 3px 4px black;
}

p {
  text-align: center;
  color: midnightblue;
}

a {
  text-decoration: none;
  text-align:center;
  color: skyblue
}

a:hover {
  color: darkblue;
  text-shadow: 3px 3px 4px black;
}
