body {
  font-size: 15pt;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

.multiback {
  width: 100%;
  height: 400px;
  background-color: url(linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  /*url("penguin.gif"), url("esteem.jpeg"), url("hugs.jpeg");
  background-repeat: no-repeat, repeat-y, repeat-y, round;*/
  /*background-position: , left, right;*/
}

h2 {
  color: violet;
  text-shadow: 3px 3px 4px black;
}

p {
  text-align: center;
  color: violet;
}

a {
  text-decoration: none;
  text-align:center;
  color: skyblue
}

a:hover {
  color: darkblue;
  text-shadow: 3px 3px 4px black;
}
